# ==============================================================================
# Python / Data Science
# ==============================================================================

# Virtual Environments & Caches
__pycache__/
venv/
.venv/
*.env
.env
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.swp
*~

# ==============================================================================
# Project Specific
# ==============================================================================

# Dataset, models, and results
data/
saved_models/
results/

# ==============================================================================
# OS & IDE Specific
# ==============================================================================

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace